<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.fbf.dao.TUserOrderMapper" >
  <resultMap id="BaseResultMap" type="com.newtouch.fbf.entity.TUserOrder" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="productType" property="producttype" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="DECIMAL" />
    <result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
     <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, email, orderid, productType, price, num, count, ordertime, status, address, picture,name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.newtouch.fbf.entity.TUserOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_order
    where id = #{id,jdbcType=CHAR}
  </select>
  
  
  <select id="selectAllOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    distinct orderid
    from t_user_order order by ordertime desc
  </select>
  
  <select id="byorderid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_order
    where orderid = #{orderid,jdbcType=VARCHAR}
  </select>
  
  
  <select id="byordertime" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    distinct orderid
    from t_user_order
    where ordertime like #{ordertime,jdbcType=VARCHAR}
  </select>
  
  <select id="byordertimeAndorderid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_order
    where ordertime like #{ordertime,jdbcType=VARCHAR} and orderid = #{orderid,jdbcType=VARCHAR}
  </select>
  
  
  <select id="bystatus" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    distinct orderid
    from t_user_order
    where email= #{email,jdbcType=VARCHAR} and status = #{status,jdbcType=VARCHAR}
  </select>
  
  
  <select id="byemail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    distinct orderid
    from t_user_order
    where email= #{email,jdbcType=VARCHAR} and status = #{status,jdbcType=VARCHAR}
  </select>
  
  
    <select id="byemail1" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    distinct orderid
    from t_user_order
    where email= #{email,jdbcType=VARCHAR}  order by ordertime desc
  </select>
  
  
   <select id="bycount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sum(count) 
    from t_user_order 
    where orderid= #{orderid,jdbcType=VARCHAR}
  </select>
  
  <select id="bystatus1" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_order
    where status = #{status,jdbcType=VARCHAR} order by ordertime desc
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user_order
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.newtouch.fbf.entity.TUserOrderExample" >
    delete from t_user_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newtouch.fbf.entity.TUserOrder" >
    insert into t_user_order (id, email, orderid, 
      productType, price, num, 
      count, ordertime, status, 
      address, picture,name)
    values (#{id,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, 
      #{producttype,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{num,jdbcType=INTEGER}, 
      #{count,jdbcType=DECIMAL}, #{ordertime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.newtouch.fbf.entity.TUserOrder" >
    insert into t_user_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="producttype != null" >
        productType,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="ordertime != null" >
        ordertime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="producttype != null" >
        #{producttype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newtouch.fbf.entity.TUserOrderExample" resultType="java.lang.Integer" >
    select count(*) from t_user_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.producttype != null" >
        productType = #{record.producttype,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=DECIMAL},
      </if>
      <if test="record.ordertime != null" >
        ordertime = #{record.ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_order
    set id = #{record.id,jdbcType=CHAR},
      email = #{record.email,jdbcType=VARCHAR},
      orderid = #{record.orderid,jdbcType=VARCHAR},
      productType = #{record.producttype,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      num = #{record.num,jdbcType=INTEGER},
      count = #{record.count,jdbcType=DECIMAL},
      ordertime = #{record.ordertime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newtouch.fbf.entity.TUserOrder" >
    update t_user_order
    <set >
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="producttype != null" >
        productType = #{producttype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null" >
        ordertime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="update11" parameterType="com.newtouch.fbf.entity.TUserOrder" >
    update t_user_order
      set id = #{id,jdbcType=CHAR},
      
      email = #{email,jdbcType=VARCHAR},
      
      productType = #{producttype,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER},
      count = #{count,jdbcType=DECIMAL},
      ordertime = #{ordertime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
       name = #{name,jdbcType=VARCHAR}
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>